# Eclipse
.classpath
.project
.settings
.metadata
build
bin

# STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

# Spring
.springBeans

# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear

# Maven #
target/
!.mvn/wrapper/maven-wrapper.jar

# Subversion files
.svn

# Windows
[Tt]humbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
*~

# Mac OS X
.DS_Store
._.DS_Store 
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Other
*.bak
*.log
